{{- $page := .page -}}
{{- $menuID := .menuID -}}

{{- with index site.Menus $menuID }}
  <nav class="site-nav" aria-label="{{ $menuID }} navigation">
    <ul class="site-nav__list">
      {{- range . }}
        {{- $active := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) -}}
        {{- $class := "site-nav__link" -}}
        {{- if $active }}{{ $class = printf "%s is-active" $class }}{{ end -}}
        {{- $attrs := dict "class" $class "href" .URL -}}
        {{- if $page.IsMenuCurrent .Menu . }}
          {{- $attrs = merge $attrs (dict "aria-current" "page") -}}
        {{- end }}
        <li class="site-nav__item">
          <a{{ range $k, $v := $attrs }}{{ printf " %s=%q" $k $v | safeHTMLAttr }}{{ end }}>{{ .Name }}</a>
        </li>
      {{- end }}
    </ul>
  </nav>
{{- end }}
