{{- $attrs := .Attributes -}} {{- $opts := .Options -}} {{- $title := index
$attrs "title" -}} {{- $fileAttr := index $attrs "file" -}} {{- $filename :=
index $attrs "filename" -}} {{- $file := or $title $fileAttr $filename -}} {{-
$language := default "text" .Type -}} {{- $lineNosRaw := false -}} {{- if isset
$opts "lineNos" -}} {{- $lineNosRaw = index $opts "lineNos" -}} {{- else if
isset $opts "linenos" -}} {{- $lineNosRaw = index $opts "linenos" -}} {{- else
if isset $attrs "lineNos" -}} {{- $lineNosRaw = index $attrs "lineNos" -}} {{-
$opts = merge $opts (dict "lineNos" $lineNosRaw) -}} {{- else if isset $attrs
"lineNumbers" -}} {{- $lineNosRaw = index $attrs "lineNumbers" -}} {{- $opts =
merge $opts (dict "lineNos" $lineNosRaw) -}} {{- else if isset $attrs "lines"
-}} {{- $lineNosRaw = index $attrs "lines" -}} {{- $opts = merge $opts (dict
"lineNos" $lineNosRaw) -}} {{- end -}} {{- $lineNosValue := printf "%v"
$lineNosRaw | lower -}} {{- $lineNosDisabledValues := slice "" "false" "0" "no"
"off" "none" -}} {{- $lineNosEnabled := and $lineNosRaw (not (in
$lineNosDisabledValues $lineNosValue)) -}} {{- if and $lineNosEnabled (or (eq
$lineNosValue "true") (eq $lineNosValue "yes") (eq $lineNosValue "on")) -}} {{-
$opts = merge $opts (dict "lineNos" "inline") -}} {{- end -}} {{-
$highlightedLines := false -}} {{- if isset $opts "hl_lines" -}} {{-
$highlightedLines = index $opts "hl_lines" -}} {{- else if isset $opts "hlLines"
-}} {{- $highlightedLines = index $opts "hlLines" -}} {{- end -}} {{-
$hasHighlightedLines := false -}} {{- with $highlightedLines -}} {{-
$hasHighlightedLines = true -}} {{- end -}} {{- $lineMode := default "absolute"
(or (index $attrs "lineMode") (index $attrs "lineNumberMode")) | lower -}} {{-
$enhanced := or $file $lineNosEnabled $hasHighlightedLines -}} {{- $showBar :=
or $file $lineNosEnabled -}} {{- $class := "code-block" -}} {{- if $showBar
-}}{{- $class = printf "%s %s" $class "code-block--with-bar" -}}{{- end -}} {{-
if $file -}}{{- $class = printf "%s %s" $class "code-block--titled" -}}{{- end
-}} {{- if $lineNosEnabled -}}{{- $class = printf "%s %s" $class
"code-block--lines" -}}{{- end -}} {{- if $hasHighlightedLines -}}{{- $class =
printf "%s %s" $class "code-block--highlighted" -}}{{- end -}} {{- if not
(transform.CanHighlight .Type) -}} {{- $opts = merge $opts (dict "type" "text")
-}} {{- end -}} {{- $result := transform.HighlightCodeBlock . $opts -}} {{- if
$enhanced -}}
<figure
    class="{{ $class }}"
    data-code-block
    data-line-mode="{{ $lineMode }}"
    data-line-nos="{{ $lineNosEnabled }}"
>
    {{- if $showBar -}}
    <figcaption class="code-block__bar">
        <span class="code-block__meta">
            {{- with $file -}}
            <span class="code-block__file">{{ . }}</span>
            {{- end -}}
            <span class="code-block__language">{{ $language }}</span>
        </span>
        <span class="code-block__actions">
            {{- if $lineNosEnabled -}}
            <button
                class="code-block__button"
                type="button"
                data-code-line-toggle
                aria-label="toggle relative line numbers"
            >
                rel
            </button>
            {{- end -}}
            <button
                class="code-block__button code-block__copy"
                type="button"
                data-code-copy
                aria-label="copy code"
            >
                <svg
                    class="code-block__copy-icon"
                    viewBox="0 0 16 16"
                    width="14"
                    height="14"
                    aria-hidden="true"
                    focusable="false"
                >
                    <path d="M5 1h8v10h-2V3H5V1Z" />
                    <path d="M3 5h8v10H3V5Zm2 2v6h4V7H5Z" />
                </svg>
                <span class="code-block__copy-text">copy</span>
            </button>
        </span>
    </figcaption>
    {{- end -}} {{ $result.Wrapped }}
</figure>
{{- else -}} {{ $result.Wrapped }} {{- end -}}
